h1{
    text-align:center;
    color:blue;
}
 p{
     font-style: italic;
     color:blue;
     font-size:30px;
     
 }
 body {
     background-color:yellow;
 }
 
 
 ul {
     font-size:30px;
    color:blue;
 }
 #naruto {
     height:200px;
     background-color:black;
     
 }
 
 #ghouse{
     float: right;
 }
 
 button{
     clear:both;
 }